.THIS {

}
.THIS .permissionSetUl{
    width:100%;
    /*font-size: large;*/
    /*font-family: Salesforce Sans;*/
}

.THIS .permissionSetLi{
	    margin-bottom: 2%;
      width:30%;
      text-align: left !important;
}

.THIS .objsUl{
  margin-bottom: 1%;
  margin-left: 2%;
}


.THIS .pointers {
  vertical-align: baseline;
  font-size: larger;
  font-weight: bold;
  border: 0;
  width: 5%;
  background-color: inherit;
}

.THIS .specificPointerClass {
  width: 2% !important;
}

.THIS .objsLiClass {
  /*display: none;*/
  margin-left:3%;
  text-align: left !important;
  border-bottom: 1px solid #ddd;
}

.THIS .fieldLiClass {
  /*display: none;*/
  margin-top:1.5%;
}

.THIS .editBtnClass {
  margin-left:1%;
}

.THIS .cloneBtnClass {
  margin-left:1%;
}

.THIS .createNewBtnClass{

}

.THIS .editPermissionsonAllObjsClass{
  margin-top:2%;
  margin-bottom: 2%;
}

.THIS .editPermissionsonAllFieldsofAllObjsClass{
  margin-top:2%;
  margin-bottom: 2%;
}

.THIS .editPermissionsonIndividualObjectsandFieldsClass{
  margin-top:2%;
  margin-bottom: 2%;
}

.THIS .mainDivForAllSubDivsClass{
  margin-top:3%;

}

.THIS .displayNullAnyDivWithThisClass{
  display: none;
}

.THIS .fieldsClass{
  margin-top:2%;
  margin-bottom: 3%;
  display: none;
}

.THIS .psDetailsInputClass {
  border: 1px solid #dce4ec;
  border-radius: 4px;
}

.THIS .individualPermissionSetDetailsClass {
  display: none;
}

.THIS .psDetailsInputLabelClass {
  margin-left: 1%;
  width: 20%;
  font-weight: 200;
  vertical-align: top;
}

.THIS .psDetailsTextAreaClass {
  width: 60%;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}

.THIS .psDetailsLabelWithDataClass {
  width: 60%;
}

.THIS .psDetailsInputTagClass {
  width: 60%;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}

/*.THIS input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}*/

.THIS .psDetailsInputTagClass:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

.THIS .psDetailsTextAreaClass:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

.THIS .psDetailsTableClass {
  width: 100%;
  height: auto;
}



.THIS .psDetailsTableROWClass {

}

.THIS .objPermissionsViewInnerLi{
  display: inline;
  margin-left: 14%;
}

.THIS .objNameRowClass{
  margin-bottom: 0.5%;
}

.THIS .objNameSpanClass{
  width: 29%;
}

.THIS .objPermissionsViewInnerFirstLi{
  margin-left: 15%;
}

.THIS .permissionNamesSpacingSpan1Class{
    margin-left: 15%;
}

.THIS .permissionNamesSpacingSpanClass{
    margin-left: 14%;
}

.THIS .objectOptionsTable {
  border-collapse: separate;
  border-spacing: 0px 0.5em;
}

.THIS .objectOptionsTable td{
  /*text-align: center;*/

}

.THIS .objectFieldTable {
  margin-left: 3%;
  width: 40%;
}

.THIS .objectFieldTableRows {
  margin-bottom: 0.5%;
}

.THIS .objectFieldTableRowsFieldLabelData {
  text-align: left !important;
  width: 60%;
  border-bottom: 1px solid #ddd;

}

.THIS .objectFieldTableRowsFieldPermissionsData {
  width: 20%;
  border-bottom: 1px solid #ddd;

}

.THIS .objectFieldTableRowsFieldPermissionsDataCheckBox {
  margin-bottom: 10%;
  margin-top: 10%;
}

.THIS .permissionNamesClass{
  border-bottom: 1px solid #ddd;
}

.THIS .editPermissionsononAllObsListClass{
  margin-left:2%;
}

.THIS .editPermissionsonAllFieldsofAllObjsListClass{
  margin-left:2%;
}

.THIS .editPermissionsononAllObsListLi{
  margin: 10px 0;
}

.THIS .editPermissionsonAllFieldsofAllObjsListLi{
  margin: 10px 0;
}

.THIS .disableEverything {
  
}